NEXT_PUBLIC_NFT_ADDRESS=0xYourNFTContractAddressHere
NEXT_PUBLIC_MARKETPLACE_ADDRESS=0xYourMarketplaceV3AddressHere
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_CHAIN_NAME=Sepolia Testnet
NEXT_PUBLIC_MAX_SUPPLY=10
